<div class="hx:flex hx:w-full hx:flex-col hx:items-center">
    <a href="https://giving.umd.edu/giving/showSchool.php?name=libraries"
        class="hx:underline hover:hx:no-underline"
        target="_blank" rel="noopener noreferrer">
        Give Now
    </a>
</div>
<div class="hx:flex hx:w-full hx:flex-col hx:items-center">
    <a href="https://www.lib.umd.edu/about/policies/privacy"
        class="hx:underline hover:hx:no-underline"
        target="_blank" rel="noopener noreferrer">
        Privacy Policy
    </a>
</div>
<div class="hx:flex hx:w-full hx:flex-col hx:items-center">
    <a href="https://www.umd.edu/web-accessibility"
        class="hx:underline hover:hx:no-underline"
        target="_blank" rel="noopener noreferrer">
        Web Accessibility
    </a>
</div>
<div class="hx:flex hx:w-full hx:flex-col hx:items-center">
    <a href="/contact/"
        class="hx:underline hover:hx:no-underline"
        target="_self">
        Contact Us
    </a>
</div>    <div class="hx:flex hx:w-full hx:flex-col hx:items-center">
    © 2026, University of Maryland Libraries
</div>

